* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}


.app-container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.hero {
    background-image: url(./assets/Rectangle.png);
}

.header {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    margin: 19px 0 0 120px;
}

.logo-text {
    font-family: Roboto;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    margin: 0 480px 0 15px;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.nav-text {
    font-family: Open Sans;
    font-size: 23px;
    color: #F7F7F7;
    margin-right: 60px;
}

.active {
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 60px;
    width: 120px;
    padding: 10px 23px 10px 23px;
}

.nav-text:hover {
    transform: scale(1.5,1.5);
    color:#CD6326;
}

.survival {
    width: 274px;
    margin: 120px 0 0 120px;
    padding-bottom: 220px;
}

.survival-heading {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-bottom: 51px;
}

.survival-description {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
    margin-bottom: 65px;
}

.survival-button {
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px;
    padding: 17px 42px;
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}

.survival-button:hover {
    cursor: pointer;
    background: #E39128;
}

.survival-button:active {
    background: #8F5613;
}

.latest-articles {
    background: #CCCCCC;
}

.latest-articles-heading {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    padding-top: 120px;
}

.latest-articles-description {
    font-family: Open Sans;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-top: 20px;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin: 120px 120px 0 120px;
}

.slider-item {
    position: relative;
}

.slider-arrow:hover {
    cursor: pointer;
    transform: scale(1.5,1.5);
    transition-duration: 850ms;
}

.animal-name {
    font-family: Open Sans;
    font-size: 22px;
    line-height: 36px;
    color: #F7F7F7;
    margin-bottom: 10px;
}

.animal-description {
    font-family: Open Sans;
    font-size: 17px;
    line-height: 27px;
    color: #F7F7F7;
}

.slider-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.form-heading {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-top: 239px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 61px;
    padding-bottom: 239px;
}

.form-email {
    width: 540px;
    height: 60px;
    background: #CCCCCC;
    border: 1px solid gray;
    font-size: 25px;
}

.form-submit {
    width: 120px;
    height: 60px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
} 

.form-submit:hover {
    cursor: pointer;
    background: #E39128;
}

.form-email, .form-submit:focus {
    outline: none;
    cursor: pointer;
}

input[value="Send"] {
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
}

::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

.footer {
    background-image: url(assets/Footer.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .logo {
    padding: 150px 0;
    margin: 0;
    width: 240px;
}

.footer-navigation {
    display: flex;
}

footer .nav-text {
    margin-right: 0;
}

.footer-nav-text:not(:last-child) {
    margin-right: 86px;
}

li {
    list-style-type: none;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials li:not(:last-child) {
    margin-right: 27px;
}